services:
  autoxpose:
    build: .
    ports:
      - '3000:3000'
    environment:
      - SERVER_IP=localhost
      - LAN_IP=host.docker.internal
    volumes:
      - autoxpose-data:/app/packages/backend/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    user: root
    restart: unless-stopped

volumes:
  autoxpose-data:
