services:
  docker-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: autoxpose-docker-proxy
    restart: unless-stopped
    environment:
      - CONTAINERS=1
      - EVENTS=1
      - INFO=1
      - NETWORKS=1
      - POST=0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - '2375:2375'

  autoxpose:
    image: autoxpose:latest
    container_name: autoxpose-dev
    restart: unless-stopped
    depends_on:
      - docker-proxy
    ports:
      - '4949:3000'
    environment:
      # - SERVER_IP=${SERVER_IP:-your-public-ip}
      # - LAN_IP=${LAN_IP:-your-lan-ip}
      - SERVER_IP=73.189.158.29
      - LAN_IP=10.0.0.66
      - DOCKER_HOST=tcp://docker-proxy:2375
    volumes:
      - autoxpose-data:/app/packages/backend/data

volumes:
  autoxpose-data:
